*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
body{
     background:rgb(19, 19, 19);
     font-family: Arial, Helvetica, sans-serif;
     color: rgb(241, 241, 241);
     width: 100%;
     margin: 10px auto;
     height: 100vh;
}
nav{
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 98%;
    margin: 0 auto;
}
div.logo{
    font-weight: bold;
    font-size:25px;
}
nav  ul{
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 50%;
}
.Point li{
    display: flex;
    justify-content: flex-end;
    width: 20%; 
    transition: ease .4s;
    cursor: pointer;
}
li:hover{
    color:  rgb(49, 49, 219);
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    text-transform: capitalize;
    width: 98%;
    margin: 0 auto;
}
.left-part{
    width: 100%;
}
.left-part h1{
    font-size: 3.9em; 
    width: 50%;
}
.left-part h2{
    color: rgb(49, 49, 219);
    margin: 10px 0;
}
.left-part p{
    width: 80%;
    line-height: 26px;
}
.right-part{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
header .right-part img{
    width:70%;
}
footer{
    display: flex;
    height: 25%;
    border-radius: 5px;
    background: #000;
    width: 100%;
}

footer .right-foot{
    width: 40%;
    margin: 0 auto;
}
.left-foot{
    margin-left:20px
}
.left-foot ul{
    width: 100%;
}
.left-foot li{
    background: rgb(49, 49, 219);
    padding: 5px;
    margin: 8px;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    
}
footer  h3{
    margin: 15px 0;
}
footer .image img{
    width: 10%;
    margin: 15px 0;
}

.image{
    display: flex;
    justify-content: space-between;
}
@media screen and (max-width:409px) {
    nav ul{
        display: none;
    }
    .logo{
        text-align: center;
        width: 100%;
        color: rgb(49, 49, 219);
    }
    .logo p{
        font-size: 1.5em;
    }
    
}
@media screen and (max-width:631px) {
    header{
        flex-direction: column;
        height:100%;
    }
    .left-part h1{
        font-size:8.5vw;
    }

    .left-part h2{

        font-size:5vw;
        width: 50%;
    }
    p{
        font-size: small;
        font-weight: bold;
    }
    .right-part{
        display: flex;
        justify-content: center;
    }
}
@media screen and (max-width:431px){
    footer{
        flex-direction: column;
        height: 45%;
        text-align: center;
    }
    .left-foot{
        margin-left:0;
    }
    footer .image img{
        width: 30%;
    }
}
@media screen and (max-width:330px){
    footer{
        height:50% ;
    }
}




